<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- this is very noisy in the console -->
		<property name="hibernate.show_sql">true</property>
		<!-- creates database if "create", keeps existing structure and values if "update" or nothing -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- map domain object classes -->
		<mapping class="com.wisemoney.domain.Portfolio"/>
		<mapping class="com.wisemoney.domain.Stock"/>
		<mapping class="com.wisemoney.domain.User"/>
		<mapping class="com.wisemoney.domain.UserRole"/>
	</session-factory>
</hibernate-configuration>